<div class="row">
    <div class="col-md-6">
        <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="card mb-3">
              <div class="card-body">
                <table>
                    <tr>
                      <td>Test Title</td>
                    </tr>
                    <tr>
                      <td>Test Description</td>
                    </tr>
                  </table>
              </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                  <table>
                      <tr>
                        <td>Test Title</td>
                      </tr>
                      <tr>
                        <td>Test Description</td>
                      </tr>
                    </table>
                </div>
              </div>
          </div>
    </div>
</div>