<div class="row">
    <div class="col-md-6">
        <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="card mb-3" *ngFor="let item of service.list">
              <div class="card-body">
                <table>
                    <tr>
                      <td>{{item.title}}</td>
                    </tr>
                    <tr>
                      <td>{{item.description}}</td>
                    </tr>
                    <tr>
                      <td>{{item.dueDate}}</td>
                    </tr>
                  </table>
              </div>
            </div>
          </div>
    </div>
</div>