<div class="row">
  <div class="col-md-6">
    <form novalidate autocomplete="off" #form="ngForm" (click)="onSubmit(form)">
      <input type="hidden" name="toDoItemId" [value]="service.formData.toDoItemId" />
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Add a Todo" name="title" #title="ngModel"
          [(ngModel)]="service.formData.title">
      </div>

      <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit">Add</button>
      </div>
    </form>
    <table class="table">
      <tbody>
        <tr *ngFor="let item of service.list">
          <td>
              <input type="checkbox" name="checkbox" [checked]="item.isCompleted"/>
              <button class="btn btn-lg btn-block btn btn-secondary" (click)="populateForm(item)">{{item.title}}</button>
          </td>
        </tr>
      </tbody>
    </table>
   
  </div>
  <div class="col-md-6">
    <app-todo-form></app-todo-form>
  </div>
</div>